<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
      		<a class="navbar-brand" href="#">Laura McGinn</a>
   		 </div>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Art<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">2015</a></li>
						<li><a href="#">2014</a></li>
						<li><a href="#">2013</a></li>
						<li><a href="#">2012</a></li>
						<li><a href="#">Archive</a></li>
					</ul>
			</li>
			<li><a href="#">Words</a></li>
			<li><a href="#">Code</a></li>
			<li><a href="#">About</a></li>
		</ul>
  </div><!-- /.container-fluid -->
</nav>