<nav class="navbar navbar-default">
	<div class="container-fluid">
	<!-- brand and toggle -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
		        <!-- <span class="sr-only">Toggle navigation</span> -->
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">LAURA McGINN</a>
    	</div>
		
		<div class="collapse navbar-collapse" id="mainNavbar">
	      	<ul class="nav navbar-nav">
		        <li><a href="/art">Artist</a></li>
		        <li><a href="/code">Developer</a></li>
		        <li><a href="/contact">Contact</a></li>
			</ul>
		</div> <!-- /.navbar-collapse -->
	</div> <!-- /.container-fluid -->
</nav>