{{> header }}

<div class="container content">
	<div class = "row content-box">
		<div class ="col-md-4">
			<img src="assets/images/laura-profile.jpg" class="img-responsive" alt="A portrait of the artist as a young H4XX0R">
			<div class="caption text-muted">
				<small>A portrait of the artist as a young hacker.</small>
			</div>
		</div>

		<div class="col-md-8">
			<p>Laura is a multimedia artist and front-end developer currently living and working in Chicago, IL.</p>

			<p>Their artistic practice centers around painting, lighting installation, textile, and printmaking.</p>
			<p>Thematically, they are interested in utilizing physical materials and phenomenological effects of light to explore the boundaries and limitations between our bodies, our phyches, and the environments we inhabit.</p>
			</p>

			<p>The links below are the best places to find Laura online.</p>

			<p align="center"><a href= "https://github.com/LauraMcG"><i class="fa fa-github fa-3x logos" aria-hidden="true" aria-label="find me on github"></i></a>
			<a href="https://www.linkedin.com/in/laura-mcginn/"><i class="fa fa-linkedin-square fa-3x logos" aria-hidden="true" aria-label="find me on linkedin"></i></a>
			<a href="https://www.instagram.com/seasonoftheglitch/"><i class="fa fa-instagram fa-3x logos" aria-hidden="true" aria-label="find me on instagram"></i></a>
			<a href="mailto:lmcginn2310@gmail.com"><i class="fa fa-envelope fa-3x logos" aria-hidden="true" aria-label="send me an email"></i></a>

			</p>
		</div>
	</div>
</div> <!-- /.content -->

{{>footer}}