{{> header }}

<div class="container content">
	<div class="row col-md-7">
		<h1> Artwork </h1>
		
		<p>My recent installations and paintings utilize the physical and chemical properties of 
			paint and phenomenological effects of light to explore the boundaries between our bodies, 
			our psyches, and the environments we inhabit.<p>
		<p>Laura holds an MFA in Art Theory and Practice from Northwestern University,
			an MA in art from Eastern Illinos University,
			and a BFA in Studio Art from the University of Notre Dame.
		</p>

		<p>A selection of past work is organized by year below.</p>
	</div>

	<div class="row col-md-7">

	{{#each years}}
		<div class="col-md-2">
			<h3><a href="/art/{{this}}">{{this}}</a></h3>
		</div>
	{{/each}}

	</div>

</div>	

{{> footer}}