
<div class="container content">

	<p>My recent installations and paintings utilize the physical and chemical properties of paint and phenomenological effects of light to explore the boundaries between our bodies, our psyches, and the environments we inhabit.<p>

	<p>I've organized my work by year. More recent work will be added as I continue to document it.</p>

	{{#each years}}
		<h3><a href="/art/{{this}}">{{this}}</a></h3>
	{{/each}}

</div>

{{> short-footer}}