<div class="container-fluid content" align = "center">
	<h1>SELECTED WORKS</h1>

	<div class= "galleryimg">
		
		<img src="art/2015/mcginn_shelter1ssu.jpg" class="img-responsive" alt="Shelter in Black and Blue. Acrylic on canvas, black and blue fluorescent light, wall. 10' x 15' x 8'.">
		
		<div class="caption">
			<p>Shelter in Black and Blue. Acrylic on canvas, black and blue fluorescent light, wall. 10' x 15' x 8'. Installation at <i>Age of Consent</i>, Block Museum of Art. 2015. Photo &copy; Sean Su.</p>
		</div>

	</div>

</div> <!-- /.content -->