<div class="container content">
	<div class = "row">
		<div class ="col-md-6">
			<img src="assets/images/laura-profile.jpg" class="img-responsive" alt="A portrait of the artist as a young H4XX0R">
			<div class="caption">
				<p>A portrait of the artist as a young hacker.</p>
			</div>
		</div>

		<div class="col-md-6">
			<h1>Hi, I'm Laura!</h1>
			<p>I am happiest when making things, whether it is optimizing a spreadsheet, spending hours perfecting a painting, or cooking an amazing pizza from scratch.</p>

			<p>Though I have always been fascinated by digital technology (my first original paintings were essentially love letters to video games), I've  recently turned my focus to web development.</p>

			<p>Formally, I have extensive training in studio art. My installations and paintings utilize the physical and chemical properties of paint and phenomenological effects of light to explore the boundaries between our bodies, our psyches, and the environments we inhabit. Through this education I have developed a keen eye for detail and an instinct for critical thinking and problem solving. I'm excited to expand my practice from the plane of the canvas to the plane of the screen!</p>

			<p>
			<a href= "https://github.com/LauraMcG"><i class="fa fa-github fa-3x logos" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/laura-mcginn/"><i class="fa fa-linkedin-square fa-3x logos" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/laurafluoro/"><i class="fa fa-instagram fa-3x logos" aria-hidden="true"></i></a>
			<a href="mailto:mcginnDOTlauraATgmailDOTcom"><i class="fa fa-envelope fa-3x logos" aria-hidden="true"></i></a>

			</p>
		</div>
	</div>
	
</div> <!-- /.content -->