<div class="container content">
	<div class = "row">
		<div class ="col-md-6">
			<img src="assets/images/laura-profile.jpg" class="img-responsive" alt="A portrait of the artist as a young H4XX0R">
			<div class="caption">
				<p>A portrait of the artist as a young hacker.</p>
			</div>
		</div>

		<div class="col-md-6">
			<h1>Hi, I'm Laura!</h1>
			<p>I'm an artist and developer currently living in Chicago. <p>

			<p>My other interests include reading as much as possible, sewing, video games (especially 90's era adventure games -- ask me about LOOM), terrible movies, media theory, and cutting my own hair.</p>
			
			<p>I love meeting new people, so feel free to drop me a line! The links below are the best places to find me online.</p>

			<p><a href= "https://github.com/LauraMcG"><i class="fa fa-github fa-3x logos" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/laura-mcginn/"><i class="fa fa-linkedin-square fa-3x logos" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/laurafluoro/"><i class="fa fa-instagram fa-3x logos" aria-hidden="true"></i></a>
			<a href="mailto:mcginn.laura@gmail.com"><i class="fa fa-envelope fa-3x logos" aria-hidden="true"></i></a>

			</p>
		</div>
	</div>
	
</div> <!-- /.content -->