/* BODY */

body {
	font-family: 'Lato', sans-serif;
	color: #283747;
	/*background-color: honeydew;*/
}

/* NAVBAR */

.navbar {
	background-color: aliceblue;
	font-weight: bold;
	font-style: italic;
	border-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: skyblue;
	/*font-weight: bold;*/
	font-style: italic;
}

.navbar-default .navbar-brand:hover {
	color: dodgerblue;
	/*font-weight: bold;*/
	font-style: italic;
}

.navbar-default .navbar-nav li a {
	color: skyblue;
}


.navbar-default .navbar-nav li a:hover {
	color: dodgerblue;
}

/*displays onthe hover of an active nav item*/
.navbar-default .navbar-nav .active a {
	background-color: #D8DFE5;
}

.navbar-default .navbar-nav .active a:hover {
	background-color: #D8DFE5;
	color: dodgerblue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #D8DFE5;
}

.logos {
	/*max-width: 30px;*/
	margin: 15px;
}

/*INDEX*/

.svg-drips {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-top: -25px;
	/*background-color: honeydew;*/
}
/*.drips:hover {
	fill:url(#HoverGradient);
	transition: .5s;
}*/



/* BODY TEXT */
h1 {
	font-weight: bold;
	text-shadow: 1px 1px #3399ff;
	/*margin-bottom: 30px;*/
}



/* APP GALLERY */
.app-gallery {
	margin-top: 35px;
}

.caption {
	margin-top: 15px;
}

.app-gallery .caption {
	text-align: left;
}


/*ART GALLERY*/

.galleryimg .caption p{
	text-align: left;
	margin: 15px auto 35px auto;
}


/* FOOTER */

footer {
	text-align: center;
	background-color: ghostwhite;
	padding-top: 10px;
	font-size: 13px;
}


/*MEDIA QUERIES FOR IMAGES*/
@media (min-width: 768px) {
	.galleryimg {
 		max-width: 60%;
	}

	body {
		font-size: 15px;
	}
}
