/* BODY */
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto Mono', sans-serif;
	color: #283747;
	margin-bottom: 70px;
	line-height: 2.5rem;
	/* background-color: #FF91AF; */
	background-color: aliceblue ;
	
}
hr {
	color: #98CADE;
}

a {
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition: .4s;
	text-decoration: underline;
	color: #332789;
}


a:hover {
	color: #332789;
	background-color: #79D7FC;
}

/* NAVBAR */

.navbar {
	/* background-color: aliceblue; */
	background-color: #332789;
	font-weight: bold;
	font-style: italic;
	border-bottom: 0px;
}
.navbar-default .navbar-brand {
	color: #79D7FC;
	font-style: italic;
	text-decoration:none;
}

.navbar-default .navbar-brand:hover {
	color: #332789;
	background-color: #79D7FC;
}

.navbar-default .navbar-nav li a {
	color: #79D7FC;
	text-decoration:none;
}


.navbar-default .navbar-nav li a:hover {
	color: #332789;
	background-color: #79D7FC;
}

/*displays onthe hover of an active nav item*/
.navbar-default .navbar-nav .active a {
	background-color: #D8DFE5;
}

.navbar-default .navbar-nav .active a:hover {
	background-color: #D8DFE5;
	color: dodgerblue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #D8DFE5;
}

/*INDEX*/

svg {
	z-index: -1000;
}


.svg-drips {
	width: 100%;
	padding: 0px;
	margin: 0px;
}


.drip {fill: url(#TheGradient);}

.welcome {
	z-index: 10;
	position: absolute;
	top: 3rem;
	left: 3rem;
	vertical-align: right;
	background-color:  rgba(248, 239, 222, 0.74);
	padding: 1rem 2rem;
	box-shadow: .25rem .25rem 0rem  rgba(0, 0, 0, 0.5);
}

.welcome-text, .welcome-text h1{
	font-family: 'Roboto Mono', monospace;
	text-shadow: none;
	color: #333;
}

/* BODY TEXT */

.content {
	margin: 50px auto 50px auto;
	padding-top: 20px;
	
}
.content-box {
	/* background-color:  rgba(248, 239, 222, 1); */
	padding: 2rem;
	/* margin: 1rem auto; */
	/* box-shadow: .25rem .25rem 0rem  rgba(0, 0, 0, 0.5); */
	/* border-style: double;  */
}

h1 {
	font-weight: bold;
	line-height: 5rem;
	margin-bottom: 20px;
	/* text-shadow: .05rem .05rem  rgba(0, 0, 0, 0.5); */
}

.logos {
	margin: 15px;
}

/* APP GALLERY */
.app-gallery {
	margin-top: 35px;
}

.caption {
	margin-top: 15px;
}

.app-gallery .caption {
	text-align: left;
}


/*ART GALLERY*/

.galleryimg .caption {
	text-align: left;
	/* margin: 15px auto 35px auto; */
	margin-top: 0px;
}

.galleryimg img {
	margin-bottom: 5rem;
}

.app-preview-box{
	min-height: 10rem;
}


/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	/* background-color: ghostwhite; */
	padding-top: 10px;
	font-size: 13px;
}


/*MEDIA QUERIES FOR IMAGES*/
@media (min-width: 768px) {
	.galleryimg {
	max-width: 60%;
	}

	body {
		font-size: 15px;
	}
}
